@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');

/* font-family: 'Lumanosimo', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Josefin Sans', sans-serif; */

/*     
    Murky Teal –  #022831
    Blue Lagoon – #04566E
    Pastel Green – #689368
    Green Pear – #B4D330
    Blustery Blue – #D8DFE9 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: 'Mukta', sans-serif;
}

.header {
    background: #fff;
    z-index: 999;
}

.stickyheader {
    position: sticky;
    top: 0;
}

h6 {
    margin-bottom: 0 !important;
}

.top-bar {
    width: 100%;
    background: #D8DFE9;
    display: block;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.stickyheader .top-bar {
    display: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


.topbar-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.con-number, .con-mail {
    display: flex;
    align-items: center;
}

.con-number i, .con-mail i {
    padding: 7px;

    font-size: 18px;
    color: #04566e;
}

.con-number a, .con-mail a {
    color: #04566E;
    text-decoration: none;
    font-size: 14px;
}

.con-number a:hover, .con-mail a:hover {
    color: #022831;
}

.trek-reg a h6 {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    color: #04566E;
    transition: all .3s ease-in-out;
}

.trek-reg a {
    text-decoration: none;
}

.trek-reg a h6:hover {
    color: #022831;
}

.navigation-bar {

    box-shadow: 0 1px 4px rgba(57, 63, 72, 0.3);
    width: 100%;

}

.navbar-brand {
    padding-top: 0 !important;
    width: 80px;
}

.navbar-brand img {
    width: 100%;
}

.navbar-collapse {
    gap: 10px;
    flex-grow: 0 !important;
}

.follow-us {
    color: #04566E;
    width: fit-content;
    text-align: center;
    display: flex;
    gap: 10px;
    padding: 7px 25px;
    border-radius: 0 0 25px 25px;
    background: rgb(180, 211, 48);
    background: linear-gradient(0deg, rgba(180, 211, 48, 1) 92%, rgba(69, 69, 69, 0.5) 100%);
    cursor: pointer;

}

.follow-us:hover {
    color: #022831;
}

.fb-icon i, .insta-icon i {
    text-shadow: 1px 1px #D8DFE9;
}

.navbar-nav {
    gap: 15px;
}

.navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 100ms ease-in;
    border-bottom: 3px solid transparent;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    top: 43px;
    left: 0;
    bottom: auto;
}

.dropdown-menu .dropdown-item {
    text-transform: capitalize;
}

.navbar-nav .nav-link:hover {
    border-bottom: 3px solid rgb(180, 211, 48);
}

.hero-banner {
    display: block;
}

.slide-item {
    position: relative;
}

.image-holder-bnr {
    width: 100%;
    height: 550px;
}

.dp-banner {
    width: 100%;
    height: 100%;
}

.image1 {
    background: url(../images/arun-kashyap-E7C077ex-Zk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.image2 {
    background: url(../images/642d2096248ab_mainbuilding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

.image3 {
    background: url(../images/bhrigu-lake-gc0710d1ef_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.banner-text {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 35px;
    display: inline-block;
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 1%, rgba(104, 147, 104, 0.65) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 1%, rgba(104, 147, 104, 0.65) 100%);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 1%, rgba(104, 147, 104, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#a6689368', GradientType=1);
    color: white;
    border-radius: 50px 0 0;
}

.banner-text h3 {
    padding: 10px;
    margin: 0;
    font-size: 24px;
    font-family: 'Lumanosimo', cursive;
}

.banner-text i {
    font-size: 1.5rem;
    color: red;
}

.sec-heading {
    color: #022831;
    font-family: 'Lumanosimo', cursive;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
    display: grid;
    place-items: center;
    height: 28.125rem !important;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    transition: transform 500ms ease-in;
    width: 100%;
}

.card__content {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(180deg,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 39%, 0.3) 10%,
            hsl(0, 0%, 11%) 100%);
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
}

.card__content--container {
    --flow-space: 1.25rem;

}

.card__content--container> :not(.card__title),
.card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
}

.card__title {
    color: white;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    font-weight: 700;
}

.card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: #04566e;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
}

.card__description {
    color: #fff;
}

.card__button {
    padding: 0.75em 1.6em;
    width: fit-content;
    width: -moz-fit-content;
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: #04566E;

    font-size: 1.125rem;
    color: hsl(0, 0%, 100%);
}

.card__button:focus {
    outline: 2px solid black;
    outline-offset: -5px;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
}

.card:hover .card__content,
.card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
}

.card:focus-within .card__content {
    transition-duration: 0ms;
}

.card:hover .card__background,
.card:focus-within .card__background {
    transform: scale(1.3);
}

.card:hover .card__content--container> :not(.card__title),
.card:hover .card__button,
.card:focus-within .card__content--container> :not(.card__title),
.card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
}

.card:hover .card__title::after,
.card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
}

.about-blog .img-blog {
    margin-top: 250px;
    width: 100%;
    height: 400px;
    position: relative;

}

.img-blog img {
    object-position: bottom;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-content {
    border-radius: 5px;
    padding: 50px;
    background: #e0e0e0;
    width: 50%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
}

.blog-head h1 {
    font-family: 'Lumanosimo', cursive;
    padding-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
    color: #022831;
}

.blog-head p span {
    font-size: 15px;
    font-family: 'Lumanosimo', cursive;
    color: #022831;
}

.top-dest {
    display: block;
}

.sec-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.thumb-img {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.thumb-img .box {
    width: 25%;
}

.box .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all .4s ease-out;
    transform: translateY(50px);
    width: auto;
    height: 180px;
}

.box:hover .imgBox {
    transform: translateY(0px);
}

.thumb-img .imgBox img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    background-color: #fff;
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    transform: translateY(-50px);
}

.box:hover .content {
    transform: translateY(0);
}

.content h2 {
    font-weight: 600;
    margin: 0;
}

.content span {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    transition: all .5s ease-in-out;
}

.content span::after {
    content: "";
    display: block;
    width: 80%;
    border-bottom: 0.3em solid #04566e;
    margin: 5px auto;
    transform: scaleX(0);
    transition: all 1s ease-in-out;
}

.box:hover .content span::after {
    transform: scaleX(1);
}

.txtBox {
    width: 80%;
    margin: 50px auto;
}

.txtBox p {
    font-weight: 600;
    line-height: 28px;
    text-shadow: 0px 0px 1px #fff;
}

.bnr-template {
    display: block;
}

.tempBox .temp-img {
    width: fit-content;
    height: fit-content;
}

.temp-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-media {
    background: #d6d6d6;
    padding: 75px 0;
}

.sm-icon {

    color: black;
    text-align: center;
    display: flex;
    align-items: center;

}

.sm-icon .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #d6d6d6;
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
    border-radius: 50%;
    transition: 0.2;

}

.sm-icon .circle i {
    display: inline-flex;
    width: 100%;
    height: 100%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.sm-icon a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    background: transparent;
    margin: 0;
    font-size: 14px;
    padding: 3px 15px;
    border-radius: 0 10px 10px 0;
}

.footer {

    background: #d6d6d6;
    padding: 20px 0;
    border-top: 1px solid #b6a9a9;
}

.ftrBox h4 {
    font-family: 'Lumanosimo', cursive;
    font-weight: 600;
    font-size: 18px;
    color: #022831;
}

.ftrBox p {
    font-size: 14px;
}

ul.ftr-list {

    list-style: none;
    padding: 0;
}

.ftr-list li a {
    color: inherit;
    text-decoration: none;
    font-size: 14px;

}

.ftr-list li a:hover {
    color: #04566E;
}

.ftrText {
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    border-top: 1px solid #b6a9a9;
}

.ftrText p {
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .contact-info {
        flex-direction: column;
        gap: 0;
    }

    .con-number i, .con-mail i {
        font-size: 14px;
    }

    .con-number a, .con-mail a {
        font-size: 12px;
    }

    .trek-reg a h6 {
        font-size: 14px;
    }
}